:root {
    --bcg-color: #0A1C25;
    --txt-color: #fff;
    --orange: #FBD787;
} 

a {
    text-decoration: none;
    color: #fff;
}

@font-face {
    font-family: "Gilroy1";
    src: url("font/Gilroy-Light.woff") format("woff");
}

@font-face {
    font-family: "Chronicle";
    src: url("font/Chronicle\ Display\ Roman.woff") format("woff");
}

body {
    color: var(--txt-color);
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-color: var(--bcg-color);
}

/****ALL****/

.mntn, .y-title {
    text-transform: uppercase;
}

.mntn {
    font-family: "Chronicle";
    font-size: 32px;
}

.y-title, .read a, h3, .fa-arrow-right-long{
    font-family: "Gilroy1";
    color: var(--orange);
    font-weight: bold;
}

.title h1, #main h2 {
    font-family: "Chronicle";
}

/*****HEADER*****/

header {
    height: 140vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 5% 5%;
    padding-top: 5%;
}

.header .nav, .header div, .scroll, .follow, .start, .title span, .paragraph, .l-foot, .m-foot, .r-foot {
    font-family: "Gilroy1";
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 25%;
    white-space: nowrap;
}

.nav ul {
    width: 20%;
}

.title {
    width: 64%;
    margin-left: 10%;
}


.title h1 {
    font-size: 4vw;
    margin: 3% 0;
}

.title .tgtu, .wrap .tgtu {
    display: flex;
    align-items: center;
}

.tgtu .ligne {
    margin-right: 2%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.social, .start {
    margin-top: 5%;
}

.social ul li, .start ul li {
    font-weight: bold;
    margin-bottom: 80%;
}

.social .follow {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.fa-user {
    margin-right: 10px;
}

.scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.scroll a:hover ~ .frame-down{
    animation: scroll 1s ease-in-out infinite;
}

@keyframes scroll {
    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0)
    }
}

/****MAIN****/


.img {
    width: 100%;
}

.container-basic {
    display: flex;
    gap: 20%;
    margin: 10%;
}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;
    margin: 10%;
}

.paragraph {
    margin-top: 2%;
}

.paragraph h2 {
    margin: 5% 0 5% 0;
    font-size: 64px;
}

.paragraph p {
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 5%;
}

.ligne {
    width: 14%;
    height: 2px;
    background: var(--orange);
    border-radius: 5%;
}

.number {
    font-size: 240px;
    opacity: .25;
    position: absolute;
}

.wrap {
    position: relative;
    top: 120px;
    left: 119px;
}

.read {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.read a:hover ~ .frame-right {
    animation: right 1s ease-in-out infinite;
}

@keyframes right {
    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0)
    }
}

/****FOOTER****/

.foot {
    display: flex;
    justify-content: space-between;
    margin: 10% 10% 5% 10%;
}

.foot h3 {
    font-weight: bold;
    margin-bottom: 15%;
}

.l-foot .copy {
    color: #608492;
}

.m-foot li, .r-foot li {
    margin-bottom: 16%;
}

.l-foot p {
    width: 60%;
    margin: 6% 0 24% 0;
}

/****RESPONSIVE****/

@media (max-width: 992px) {

    .wrapper {
        margin: 15% 5% 0 5%;
        font-size: 14px;
    }

    .scroll {
        width: 18%;
        white-space: nowrap;
    }

    .title h1 {
        font-size: 4vw;
    }

    .container-basic, .container-reverse {
        gap: 10%;
        margin: 0 7%;
    }

    .wrap {
        top: 53px;
        left: 66px;
    }

    .paragraph h2 {
        font-size: 45px;
    }

    .y-title, .paragraph p{
        font-size: 14px;
    }

    .read {
        width: 25%;
        white-space: nowrap;
    }

    .ligne {
        width: 11.5%;
    }

    .number {
        font-size: 125px;
    }

    .img img{
        margin-top: 8%;
        width: 400px;
        height: 450px;
    }

    .foot {
        font-size: 16px;
        margin: 5%;
    }

    .l-foot p {
        margin: 6% 0 31% 0;
    }
}

@media (max-width: 768px) {

    .wrapper {
        margin: 15% 5% 0 5%;
        font-size: 12px;
    }

    .header {
        font-size: 14px;
    }

    .nav li {
        margin-right: 15%;
    }

    .title h1 {
        font-size: 40px;
    }

    .container-basic, .container-reverse {
        justify-content: space-between;
        margin: 0 10%;
    }

    .wrap {
        top: 38px;
        left: 59px;
    }

    .paragraph h2 {
        font-size: 30px;
    }

    .y-title, .read, .paragraph p{
        font-size: 14px;
        line-height: 27px;
    }

    .number {
        font-size: 100px;
    }

    .ligne {
        width: 10%;
    }

    .img img{
        margin-top: 8%;
        width: 300px;
        height: 400px;
    }

    .foot {
        font-size: 12px;
        margin: 5%;
    }

    .l-foot p {
        margin: 6% 0 22% 0;
    }
}

@media (max-width: 576px) {

    .wrapper {
        margin: 15% 5% 0 5%;
        font-size: 10px;
    }

    .header {
        font-size: 12px;
    }

    .scroll {
        width: 20%;
    }

    .nav li {
        margin-right: 10%;
    }

    .title h1 {
        font-size: 30px;
    }

    .start li {
        margin-bottom: 60%
    }

    .container-basic, .container-reverse {
        flex-direction: column;
        margin: 10% 11%;
    }

    .wrap {
        top: 38px;
        left: 59px;
    }

    .paragraph {
        width: 80%;
    }

    .paragraph h2 {
        font-size: 25px;
    }

    .y-title, .read, .paragraph p{
        font-size: 12px;
        line-height: 27px;
    }

    .number {
        font-size: 100px;
    }

    .ligne {
        width: 7%;
    }

    .foot {
        font-size: 10px;
        margin: 5%;
    }

    .l-foot p {
        margin: 6% 0 20% 0;
    }
}