:root {
    --bcg-color: #0A1C25;
    --txt-color: #fff;
    --orange: #FBD787;
} 

a {
    text-decoration: none;
    color: #fff;
}

@font-face {
    font-family: "Gilroy1";
    src: url("font/Gilroy-Light.woff") format("woff");
}

@font-face {
    font-family: "Chronicle";
    src: url("font/Chronicle\ Display\ Roman.woff") format("woff");
}

body {
    color: var(--txt-color);
    font-size: 18px;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-color: var(--bcg-color);
}

/****ALL****/

.mntn, .y-title {
    text-transform: uppercase;
}

.mntn {
    font-family: "Chronicle";
    font-size: 32px;
}

.y-title, .read a, h3, .fa-arrow-right-long{
    font-family: "Gilroy1";
    color: var(--orange);
    font-weight: bold;
}

.title h1, #main h2 {
    font-family: "Chronicle";
}

/*****HEADER*****/

header {
    height: 140vh;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5% 5% 5%;
    padding-top: 5%;
}

.header .nav, .header div, .scroll, .follow, .start, .title span, .paragraph, .l-foot, .m-foot, .r-foot {
    font-family: "Gilroy1";
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 25%;
    white-space: nowrap;
}

.nav ul {
    width: 20%;
}

.title {
    width: 64%;
    margin-left: 10%;
}


.title h1 {
    font-size: 88px;
    margin: 3% 0;
}

.title .tgtu, .wrap .tgtu {
    display: flex;
    align-items: center;
}

.tgtu .ligne {
    margin-right: 2%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.social, .start {
    margin-top: 5%;
}

.social ul li, .start ul li {
    font-weight: bold;
    margin-bottom: 80%;
}

.social .follow {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.fa-user {
    margin-right: 10px;
}

.scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.scroll a:hover ~ .frame-down{
    animation: scroll 1s ease-in-out infinite;
}

@keyframes scroll {
    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0)
    }
}

/****MAIN****/


.img {
    width: 566px;
    height: 720px;
}

.container-basic {
    display: flex;
    gap: 20%;
    margin: 10%;
}

.container-reverse {
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;
    margin: 10%;
}

.paragraph {
    margin-top: 2%;
}

.paragraph h2 {
    margin: 5% 0 5% 0;
    font-size: 64px;
}

.paragraph p {
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 5%;
}

.ligne {
    width: 18%;
    height: 2px;
    background: var(--orange);
    border-radius: 5%;
}

.number {
    font-size: 240px;
    opacity: .25;
    position: absolute;
}

.wrap {
    position: relative;
    top: 120px;
    left: 119px;
}

.read {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

.read a:hover ~ .frame-right {
    animation: right 1s ease-in-out infinite;
}

@keyframes right {
    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0)
    }
}

/****FOOTER****/

.foot {
    display: flex;
    justify-content: space-between;
    margin: 10% 10% 5% 10%;
}

.foot h3 {
    font-weight: bold;
    margin-bottom: 15%;
}

.l-foot .copy {
    color: #608492;
}

.m-foot li, .r-foot li {
    margin-bottom: 16%;
}

.l-foot p {
    width: 60%;
    margin: 6% 0 24% 0;
}